.one {
    color: white;
    background-color: brown;
    margin: 10px;
    width: 400px;
    height: 250px;
    display: inline-block;
  }
  
  .two {
    color: white;
    background-color: black;
    margin: 5px;
    width: 250px;
    height: 250px;
    display: inline-block;
  }
  .three {
    color: white;
    background-color: brown;
    margin: 10px;
    width: 350px;
    height: 150px

  }
  .four {
    color: white;
    background-color: brown;
    margin: 10px;
    width: 350px;
    height: 150px; 
  }
  
  .five {
    color: white;
    background-color: brown; 
    margin: 1px;
    width: 350px;
    height: 150px; 
  }

  
 
  
  